@import './index';
.App {
  text-align: center;
  font-family: 'Archivo', sans-serif;
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background-image: url('img/me.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.center-div {
  width: 100%;

  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
